
<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title Page</title>

        <!-- Bootstrap CSS -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <h1 class="text-center">Тренируем математику</h1>
        

        
        <div class="container">
            
            <div class="row">
                
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                           <h1>Осталось примеров:  {{primersCounter}}</h1>
                            <h3>Сколько будет: {{one}} {{delimetr}} {{two}}</h3>
                            
                            

      
                </div>
                
                
                
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                       
            <form action="" method="POST" role="form">
                <legend>Форма ответов</legend>
           

           <input type="hidden" name="etalon" id="input1/(\w+)/\u\1/g" class="form-control" value="{{etalon}}">
           
                <div class="form-group">
                    <label for="">{{partOne}}</label>
                    <input type="text" class="form-control" name="answer" id="" placeholder="ВВеди ответ на пример">
                </div>
                {% if error %}
                 
                 <div class="alert alert-danger">
                    {{error.Error()}}                    
                 </div>
                 
                {% endif %}
        
            
                <button type="submit" class="btn btn-primary">Ответить!</button>
            </form>
            
                </div>
                
            </div>
            
        </div>
        
        
         
        <!-- jQuery -->
        <script src="//code.jquery.com/jquery.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </body>
</html>
